@import "../utils/variables";
@import "../utils/mixins";

@include typographieTitle();
// @include underline(rgb(22, 15, 15));

#contact .container {
    background-color: rgb(231, 234, 240);
}
#contact .container .row h2 {
    color: rgb(22, 15, 15);
}
.form--control {
    @extend .form-control;
    appearance: none;
    background: rgb(16, 12, 12) !important;
    color: white !important;
    margin-top: 0.5rem;
    cursor: pointer;
}
.contact--list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    .contact--item {
        list-style: none;
        position: relative;
        right: 1rem;
        & a {
            display: inline-block;
        }
        & a::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: rgb(16, 12, 12);
            transition: width 0.4s;
        }
        & a:hover::after {
            width: 100%;
        }
    }
}

.copyright {
    background-color: rgb(16, 12, 12);
    color: white;
    padding-top: 1rem;
    padding-bottom: .5rem;
}
