@import "../utils/variables";
@import "../utils/mixins";

@include typographieTitle();

#projets .container {
    background-color: #100c0c;
}
#projets .container .row {
    padding: 1rem;
    margin: auto;
}
#projets h2 {
    color: white;
}
.div--card{
    margin-bottom: .5rem;
}
.card a img {
    object-fit: fill;
}
